.row
  .add-photo.span12
    = form_for Photo.new do |f|
      = f.label :image, "Uploading photos:"
      = f.file_field :image, :multiple => true, :name => "photo[image]"
.row#photos
  - @photos.each do |photo|
    = render photo

= render 'home/template'